body {
    background-color: rgb(48, 62, 95);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.home-button {
    background-color: rgb(127, 115, 102);
    color: rgb(0, 0, 0);
    height: 36px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 18px;
    transition: background-color 0.5s;
    font-family: 'Courier New', Courier, monospace;
}
.home-button:hover {
    background-color: rgb(149, 128, 104);
}
.home-button:active {
    background-color: rgb(235, 212, 186);
}
h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}