<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" > 
    <title>Groupie tracker</title>
</head>
<body>
    <div id="artists-container">
        {{range .}}
            <div class="artist-box" id="{{.Name}}">
                <h1>{{.Name}}</h1>
                <img src="{{.Image}}" width="250" height="250">
                <button class="show-details">
                    Show details
                </button>
                <!-- <ul>
                    {{range .Members}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
                <div class="tour-info">
                    {{range $location, $dates := .DatesLocations}}
                        <h3>{{$location}}</h3>
                        <ul>
                            {{range $dates}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    {{end}}
                </div>
            </div> -->
        {{end}}
    </div>
    <style>
        .show-details {
            background-color: rgb(39, 71, 131);
            color: rgb(240, 255, 211);
            height: 36px;
            width: 110px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            border-radius: 18px;
            transition: background-color 0.5s;
         }

         .show-details:hover {
            background-color: rgb(69, 91, 134);
         }
    </style>
</body>
</html>