<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/details.css" rel="stylesheet" > 
    <script src="/static/jvs.js"></script>
    <title>Groupie tracker</title>
</head>
<body>
    <!-- <h1>details</h1> -->
    <h1>{{.Name}} Details</h1>
    <img src="{{.Image}}" width="250" height="250" alt="{{.Name}}">
    <h2>Members: </h2><p>{{range .Members}}{{.}}, {{end}}</p>
    <h3>Creation date:</h3><p>{{.CreationDate}}</p>
    <h3>First Album:</h3><p>{{.FirstAlbum}}</p>
    
    <h2>Dates and Locations:</h2>
    <ul>
        {{range $date, $locations := .DatesLocations}}
            <li><strong>{{$date}}:</strong> {{range $locations}}{{.}}, {{end}}</li>
        {{end}}
    </ul>
    <!-- <button class="home-button" onclick="home()">Home</button> -->
    <a class="home-button" href="/"><button class="home-button">Home</button></a>
    

</body>
</html>